// ======================================================================
// Ratios
// ======================================================================

/// Minor Second Ratio
/// @group Ratios
$minor-second: 1.067 !default;

/// Major Second Ratio
/// @group Ratios
$major-second: 1.125 !default;

/// Minor Third Ratio
/// @group Ratios
$minor-third: 1.2 !default;

/// Miajor Third Ratio
/// @group Ratios
$major-third: 1.25 !default;

/// Perfect Forth Ratio
/// @group Ratios
$perfect-fourth: 1.333 !default;

/// Augmented Forth Ratio
/// @group Ratios
$augmented-fourth: 1.414 !default;

/// Perfect Fith Ratio
/// @group Ratios
$perfect-fifth: 1.5 !default;

/// Minor Sixth Ratio
/// @group Ratios
$minor-sixth: 1.6 !default;

/// Golden Section Ratio
/// @group Ratios
$golden-section: 1.618 !default;

/// Major Sixth Ratio
/// @group Ratios
$major-sixth: 1.667 !default;

/// Minor Seventh Ratio
/// @group Ratios
$minor-seventh: 1.778 !default;

/// Major Seventh Ratio
/// @group Ratios
$major-seventh: 1.875 !default;

/// Octave Ratio
/// @group Ratios
$octave: 2 !default;

/// Major Tenth Ratio
/// @group Ratios
$major-tenth: 2.5 !default;

/// Major Eleventh Ratio
/// @group Ratios
$major-eleventh: 2.667 !default;

/// Major Twelth Ratio
/// @group Ratios
$major-twelfth: 3 !default;

/// Double Octave Ratio
/// @group Ratios
$double-octave: 4 !default;
