// ======================================================================
// Typography Setup
// ======================================================================

/// Basic Setup
/// ======================================================================

/// Enable Type Debug
/// @group Debug
$type-debug: true !default;

// Basic Setup
// ======================================================================

/// Set Global Font size
/// @group Typography
$global-base-font-size: 16px !default;

/// Set Global Line height
/// @group Typography
$global-line-height: 1.5 !default;

/// Set Global REM Fallback
/// @group Typography
$rem-fallback: true !default;

/// Set Global PX units only
/// @group Typography
$rem-px-only: false !default;

/// Set Global line-heights with no units
/// @group Typography
$unitless-lineheight: true !default;

/// The ratio used to generate sizes and margins on heading tags
/// @group Typography
$type-ratio: $perfect-fourth !default;

/// Toggle percenatage based font scaling based on screen size.
/// @group Typography
$responsive-text: false !default;

/// Global Font Smoothing
/// @group Typography
$webkit-smoothing: antialiased !default;

/// Modular Steps
/// ======================================================================

/// Modular Stepping Multipliers
/// @group Typography
$modular-step-alpha: 5 !default;
$modular-step-beta: 4 !default;
$modular-step-gamma: 3 !default;
$modular-step-delta: 2 !default;
$modular-step-epsilon: 1 !default;
$modular-step-zeta: 0 !default;
$modular-step-eta: -1 !default;
$modular-step-theta: -2 !default;
$modular-step-iota: -3 !default;

/// Font Weights
/// ======================================================================

/// Thin
/// @group Typography
$thin: 100 !default;

/// Extra light
/// @group Typography
$extralight: 200 !default;

/// Light
/// @group Typography
$light: 300 !default;

/// Regular
/// @group Typography
$regular: 400 !default;

/// Medium
/// @group Typography
$medium: 500 !default;

/// Semibold
/// @group Typography
$semibold: 600 !default;

/// Bold
/// @group Typography
$bold: 700 !default;

/// Extra Bold
/// @group Typography
$extra-bold: 800 !default;

/// Black
$black: 900 !default;

/// Global font styles
/// ======================================================================

/// Global Font Stack
/// @group Typography
$global-font-stack: $shelvetica !default;

/// Global Font Weight
/// @group Typography
$global-font-weight: $thin !default;

/// Global Font Color
/// @group Typography
$global-font-color: $dark !default;

/// Global heading font styles
/// ======================================================================

/// Heading Font Stack
/// @group Typography
$global-heading-stack: $gillsans !default;

/// Heading Font Color
/// @group Typography
$global-heading-weight: $regular !default;

/// Heading Font Weight
/// @group Typography
$global-heading-color: $dark !default;

/// Custom Font Path
/// @group Typography
$custom-font-path: '/assets/fonts/' !default;

/// Links
/// ======================================================================

/// Link Color
/// @group Typography
$link: $primary !default;

/// Link Hover Color
/// @group Typography
$link-hover: $primary !default;

/// Link Hover Color
/// @group Typography
$link-hover-decoration: none !default;

/// Horizontal Rules
/// ======================================================================

/// Horizontal Rule color and thickness
/// @group Typography
$global-hr-style: 1px solid $primary !default;

/// ======================================================================
/// Responsive type scaling (set $responsive-text true for this)
/// Numbers match $perfect-fourth. Recalculate them for other ratios.
/// ======================================================================

/// Base responsive font size for screens under $bp-tiny
/// @group Typography
$rt-bp-base: 50% !default; // 8px

/// Responsive font size for screens between $bp-tiny and $bp-xsmall
/// @group Typography
$rt-bp-tiny: 62.5% !default; // 10px

/// Responsive font size for screens between $bp-xsmall and $bp-small
/// @group Typography
$rt-bp-xsmall: 75% !default; // 12px

/// Responsive font size for screens between $bp-xmall and $bp-medium
/// @group Typography
$rt-bp-small: 87.5% !default; // 14px

/// Responsive font size for screens between $bp-medium and $bp-large
/// @group Typography
$rt-bp-medium: 100% !default; // 16px

/// Responsive font size for screens between $bp-large and $bp-xl
/// @group Typography
$rt-bp-large: 125% !default; // 20px

/// Responsive font size for screens between $bp-xl and above.
/// @group Typography
$rt-bp-xl: 137.5% !default; // 22px
