// ======================================================================
// Slate Framework <hello@slateengine.com>
// ======================================================================
//
// ======================================================================
// Inputs & Skins
// ======================================================================
/// [Setup input styles. These are controlled by a SASS map variable (`$input-default`) in the config files.Copy this variable and modify to make multiple styles. Simply pass the new variable as a parameter on the mixin.]
/// @param  {Variable} $map-name [$input-default] Variable for the inputs style.
/// @example scss - Basic Inputs
///   @include inputs($map-variable);
/// @author Hash&Salt
/// @group Forms
@mixin inputs($map-name: $input-skin) {
  input,
  select,
  textarea {
    display: inline-block;
    width: auto;
  }

  textarea {
    @include rem(margin, map-deep-get($map-name, 'margin'));
    @include rem(min-height, 150px);
    position: relative;
    overflow: auto;
    outline: none;
    line-height: map-deep-get($map-name, 'line-height');
    box-sizing: border-box;
    resize: vertical;

  }

  [type='range'] {
    @include rem(margin, map-deep-get($map-name, 'margin'));
    @include rem(height, map-deep-get($map-name, 'height'));
    width: map-deep-get($map-name, width);
  }

  [type='checkbox'],
  [type='radio'] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline;
    height: auto;
    width: auto;
    @include rem(margin, map-deep-get($map-name, 'radios', 'check-radio-margin'));
  }


  @include inputs-all {
    @include rem(height, map-deep-get($map-name, 'height'));
    @include rem(margin, map-deep-get($map-name, 'margin'));
    @include rem(font-size, map-deep-get($map-name, 'font-size'));
    @include rem(padding, map-deep-get($map-name, 'padding'));
    width: map-deep-get($map-name, 'width');
    font-family: map-deep-get($map-name, 'font');
    box-sizing: border-box;
    @if map-deep-get($map-name, use-borders) == true {
      border-width: map-deep-get($map-name, 'borders', 'border-width');
      border-style: map-deep-get($map-name, 'borders', 'border-style');
      border-color: map-deep-get($map-name, 'borders', 'border-color');
    } @else {
      border: 0;
    }
    background-color: map-deep-get($map-name, 'bg', 'bg-color');
    @if lightness(map-deep-get($map-name, 'bg', 'bg-color')) < 60% {
      // if background is dark...
      color: map-deep-get($map-name, 'textlight');
    } @else {
      // if background is light...
      color: map-deep-get($map-name, 'textdark');
    }

    &:hover {
      background-color: map-deep-get($map-name, 'bg', 'bg-color-hover');
      outline: none;
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-hover-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-hover')) < 60% {
        // if background is dark...
        color: map-deep-get($map-name, 'textlight');
      } @else {
        // if background is light...
        color: map-deep-get($map-name, 'textdark');
      }
    }


    &:focus {
      background-color: map-deep-get($map-name, 'bg', 'bg-color-focus');
      outline: none;
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-focus-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-focus')) < 60% {
        // if background is dark...
        color: map-deep-get($map-name, 'textlight');
      } @else {
        // if background is light...
        color: map-deep-get($map-name, 'textdark');
      }
    }

    &:disabled {
      cursor: disabled;
      background-color: map-deep-get($map-name, 'bg', 'bg-color-disabled');
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-disabled-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-disabled')) < 60% {
        // if background is dark...
        color: map-deep-get($map-name, 'textlight');
      } @else {
        // if background is light...
        color: map-deep-get($map-name, 'textdark');
      }
    }
  }

  [type='search'] {
    -webkit-appearance: none;
  }

  [type='color'] {
    @include rem(height, map-deep-get($map-name, height));
    @include rem(margin, map-deep-get($map-name, margin));
    @include rem(font-size, map-deep-get($map-name, font-size));
    width: map-deep-get($map-name, width);
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    @if map-deep-get($map-name, use-borders) == true {
      border-width: map-deep-get($map-name, 'borders', 'border-width');
      border-style: map-deep-get($map-name, 'borders', 'border-style');
      border-color: map-deep-get($map-name, 'borders', 'border-color');
    } @else {
      border: 0;
    }

    &:focus {
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-focus-color');
      } @else {
        border: 0;
      }
    }

    &:disabled {
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-disabled-color');
      } @else {
        border: 0;
      }
    }
  }
}
/// Setup select styles. These are controlled by a SASS map variable (`$select-default`) in the config files.
/// Copy this variable and modify to make multiple styles. Simply pass the new variable as a parameter on
/// the mixin.
/// @param  {Variable} $map-name [$select-default] [Skin to use for the select element]
/// @example scss - Basic Select
/// .form {
///     @include select($map-variable);
/// }
/// @author Hash&Salt
/// @group Forms
@mixin select($map-name: $input-skin) {
  select {
    // Common
    @include rem(height, map-deep-get($map-name, 'height'));
    @include rem(width, map-deep-get($map-name, 'width'));
    @include rem(margin, map-deep-get($map-name, 'margin'));
    @include rem(font-size, map-deep-get($map-name, 'font-size'));
    @include rem(padding, map-deep-get($map-name, 'padding'));
    background-color: map-deep-get($map-name, 'bg', 'bg-color');
    font-family: map-deep-get($map-name, 'font');
    border-radius: map-deep-get($map-name, 'radius');
    line-height: normal;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
    }

    &[multiple] {
      height: auto;
    }
    // Triangle
    @if map-deep-get($map-name, 'bg', 'bg-color') != transparent {
      background-size: map-deep-get($map-name, 'selects', 'triangle-size');
      background-position: map-deep-get($map-name, 'selects', 'triangle-position');
      background-origin: content-box;
      background-repeat: no-repeat;
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color')) < 60% {
        background-image: svg-url-with-replaced-fill(map-deep-get($map-name, 'selects', 'arrow'), '#000000', map-deep-get($map-name, 'selects', 'triangle-color-light'));
      } @else {
        background-image: svg-url-with-replaced-fill(map-deep-get($map-name, 'selects', 'arrow'), '#000000', map-deep-get($map-name, 'selects', 'triangle-color-dark'));
      }
    }
    @if map-deep-get($map-name, use-borders) == true {
      border-width: map-deep-get($map-name, 'borders', 'border-width');
      border-style: map-deep-get($map-name, 'borders', 'border-style');
      border-color: map-deep-get($map-name, 'borders', 'border-color');
    } @else {
      border: 0;
    }
    @if lightness(map-deep-get($map-name, 'bg', 'bg-color')) < 60% {
      color: map-deep-get($map-name, 'textlight');
    } @else {
      color: map-deep-get($map-name, 'textdark');
    }

    &:hover {
      outline: 0;
      background-color: map-deep-get($map-name, 'bg', 'bg-color-hover');
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-hover-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-hover')) < 60% {
        color: map-deep-get($map-name, 'textlight');
      } @else {
        color: map-deep-get($map-name, 'textdark');
      }
    }


    &:focus {
      outline: 0;
      background-color: map-deep-get($map-name, 'bg', 'bg-color-focus');
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-focus-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-focus')) < 60% {
        color: map-deep-get($map-name, 'textlight');
      } @else {
        color: map-deep-get($map-name, 'textdark');
      }
    }

    &:disabled {
      background-color: map-deep-get($map-name, 'bg', 'bg-color-disabled');
      @if map-deep-get($map-name, use-borders) == true {
        border-color: map-deep-get($map-name, 'borders', 'border-disabled-color');
      } @else {
        border: 0;
      }
      @if lightness(map-deep-get($map-name, 'bg', 'bg-color-disabled')) < 60% {
        color: map-deep-get($map-name, 'textlight');
      } @else {
        color: map-deep-get($map-name, 'textdark');
      }
    }
  }
}
/// Append or prepend an icon / button / link to an input or select box. These are controlled by a SASS map variable (`$select-default`) in the config files.
/// Copy this variable and modify to make multiple styles. Simply pass the new variable as a parameter on
/// the mixin.
/// @example scss - Basic Select
/// .form {
///     @include select($map-variable);
/// }
/// @example html - Addon HTML
/// <div class='form-addon addon-right'>
///   <select class='addon-field' name='select'>
///     <option value='About'>About</option>
///   </select>
/// <div class='addon-button'><button type='button'>Go!</button></div>
/// </div>
/// @param {Variable} $map-name [$input-default] - SASS map variable for the select element style.
/// @author Hash&Salt
/// @group Forms
@mixin addons ($map-name: $input-skin) {
  // Addon Wrapper
  .#{map-deep-get($map-name, 'addons', 'wrapper')} {
    @include rem(height, map-deep-get($map-name, 'height'));
    display: table;
    border-collapse: separate;
    width: 100%;
  }

  .#{map-deep-get($map-name, 'addons', 'icon')} {
    @include rem(height, map-deep-get($map-name, 'height'));
    @include rem(font-size, map-deep-get($map-name, 'font-size'));
    @include rem(padding, map-deep-get($map-name, 'padding'));
    display: table-cell;
    line-height: 1;
    width: auto;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: $semibold;
    background-color: map-deep-get($map-name, 'addons', 'addon-background-color');
    @if lightness(map-deep-get($map-name, 'addons', 'addon-background-color')) < 60% {
      color: map-deep-get($map-name, 'textlight');
    } @else {
      color: map-deep-get($map-name, 'textdark');
    }
    @if map-deep-get($map-name, use-borders) == true {
      border-width: map-deep-get($map-name, 'borders', 'border-width');
      border-style: map-deep-get($map-name, 'borders', 'border-style');
      border-color: map-deep-get($map-name, 'borders', 'border-color');
    } @else {
      border: 0;
    }
  }

  .#{map-deep-get($map-name, 'addons', 'button')} {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: map-deep-get($map-name, 'addons', 'button-width');

    [type='reset'],
    [type='submit'],
    span,
    button {
      @include rem(height, map-deep-get($map-name, 'height'));
      @include rem(font-size, map-deep-get($map-name, 'font-size'));
      @include rem(padding, map-deep-get($map-name, 'padding'));
      background-color: map-deep-get($map-name, 'addons', 'addon-background-color');
      // Text Color
      @if lightness(map-deep-get($map-name, 'addons', 'addon-background-color')) < 60% {
        color: map-deep-get($map-name, 'textlight');
      } @else {
        color: map-deep-get($map-name, 'textdark');
      }
      font-weight: map-deep-get($map-name, 'addons', 'font-weight');
      font-family: map-deep-get($map-name, 'font');
      @if map-deep-get($map-name, use-borders) == true {
        border-width: map-deep-get($map-name, 'borders', 'border-width');
        border-style: map-deep-get($map-name, 'borders', 'border-style');
        border-color: map-deep-get($map-name, 'borders', 'border-color');
      } @else {
        border: 0;
      }
      line-height: 1;
      text-align: center;
      display: block;
      cursor: pointer;
      width: 100%;

      &:focus {
        background: map-deep-get($map-name, 'addons', 'addon-focus');
        outline: none;
        // Text Color
        @if lightness(map-deep-get($map-name, 'addons', 'addon-focus')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }

      &:hover {
        background: map-deep-get($map-name, 'addons', 'addon-hover');
        // Text Color
        @if lightness(map-deep-get($map-name, 'addons', 'addon-hover')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }

      &:active {
        background: map-deep-get($map-name, 'addons', 'addon-active');
        // Text Color
        @if lightness(map-deep-get($map-name, 'addons', 'addon-active')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }

      &:disabled {
        background: map-deep-get($map-name, 'addons', 'addon-disabled');
        @if map-deep-get($map-name, use-borders) == true {
          border-color: map-deep-get($map-name, 'borders', 'border-disabled-color');
        } @else {
          border: 0;
        }
        @if lightness(map-deep-get($map-name, 'addons', 'addon-disabled')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }
    }

    div,
    span {
      @include rem(line-height, map-deep-get($map-name, line-height));
      cursor: auto;
      display: block;
    }
  }
  // Inputs inside Addons
  select.#{map-deep-get($map-name, 'addons', 'field')} {
    margin: 0;
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
  }

  @include inputs-all {
    &.#{map-deep-get($map-name, 'addons', 'field')} {
      margin: 0;
      display: table-cell;
      position: relative;
      z-index: 2;
      width: 100%;
      background-color: map-deep-get($map-name, 'bg', 'bg-color');
      @if map-deep-get($map-name, use-borders) == true {
        border-width: map-deep-get($map-name, 'borders', 'border-width');
        border-style: map-deep-get($map-name, 'borders', 'border-style');
        border-color: map-deep-get($map-name, 'borders', 'border-color');
      } @else {
        border: 0;
      }

      @if lightness(map-deep-get($map-name, 'bg', 'bg-color')) < 60% {
        color: map-deep-get($map-name, 'textlight');
      } @else {
        color: map-deep-get($map-name, 'textdark');
      }

      &:hover {
        @if map-deep-get($map-name, use-borders) == true {
          border-color: map-deep-get($map-name, 'borders', 'border-hover-color');
        } @else {
          border: 0;
        }
        background-color: map-deep-get($map-name, 'bg', 'bg-color-hover');
        @if lightness(map-deep-get($map-name, 'bg', 'bg-color-hover')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }

      &:focus {
        @if map-deep-get($map-name, use-borders) == true {
          border-color: map-deep-get($map-name, 'borders', 'border-focus-color');
        } @else {
          border: 0;
        }
        background-color: map-deep-get($map-name, 'bg', 'bg-color-focus');
        @if lightness(map-deep-get($map-name, 'bg', 'bg-color-focus')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }

      &:disabled {
        @if map-deep-get($map-name, use-borders) == true {
          border-color: map-deep-get($map-name, 'borders', 'border-disabled-color');
        } @else {
          border: 0;
        }
        background-color: map-deep-get($map-name, 'bg', 'bg-color-disabled');
        @if lightness(map-deep-get($map-name, 'bg', 'bg-color-disabled')) < 60% {
          color: map-deep-get($map-name, 'textlight');
        } @else {
          color: map-deep-get($map-name, 'textdark');
        }
      }
    }
  }
  // Kill Borders next to buttons
  @if map-deep-get($map-name, use-borders) == true {
    .#{map-deep-get($map-name, 'addons', 'both')},
    .#{map-deep-get($map-name, 'addons', 'left')},
    .#{map-deep-get($map-name, 'addons', 'right')} {
      .#{map-deep-get($map-name, 'addons', 'button')}:first-child {
        [type='reset'],
        [type='submit'],
        span,
        button,
        div {
          border-right: 0;
        }
      }

      .#{map-deep-get($map-name, 'addons', 'button')}:last-child {
        [type='reset'],
        [type='submit'],
        span,
        button,
        div {
          border-left: 0;
        }
      }

      .#{map-deep-get($map-name, 'addons', 'icon')}:first-child {
        border-right: 0;
      }

      .#{map-deep-get($map-name, 'addons', 'icon')}:last-child {
        border-left: 0;
      }
    }
  }
}
// Custom radios
// ======================================================================
@mixin checkradio($map-name: $input-skin) {
  label {
    @include rem(padding-left, map-deep-get($map-name, 'radios', 'label-h-align'));
    @include rem(margin-bottom, map-deep-get($map-name, 'radios', 'spacing'));
    display: inline-block;
    cursor: pointer;
    position: relative;

    &::before {
      @include rem(width, map-deep-get($map-name, 'radios', 'width'));
      @include rem(height, map-deep-get($map-name, 'radios', 'height'));
      @include rem(bottom, map-deep-get($map-name, 'radios', 'input-v-align'));
      content: '';
      color: map-deep-get($map-name, 'radios', 'selected-color');
      display: inline-block;
      position: absolute;
      left: 0;
      background-color: map-deep-get($map-name, 'bg', 'bg-color');
      @if map-deep-get($map-name, use-borders) == true {
        border-width: map-deep-get($map-name, 'borders', 'border-width');
        border-style: map-deep-get($map-name, 'borders', 'border-style');
        border-color: map-deep-get($map-name, 'borders', 'border-color');
      } @else {
        border: 0;
      }
    }
  }

  [type='checkbox'],
  [type='radio'] {
    position: absolute;
    left: -99999px;

    + label {
      @include rem(margin-bottom, map-deep-get($map-name, 'radios', 'spacing'));
      margin-left: 0;
    }
    // checked
    &:checked {
      + label {
        &::before {
          content: '';
          background-image: svg-url-with-replaced-fill(map-deep-get($map-name, 'radios', 'checkicon'), '#000000', map-deep-get($map-name, 'radios', 'selected-color'));
          background-size: map-deep-get($map-name, 'radios', 'checkicon-size');
          background-repeat: no-repeat;
          background-position: center center;
          @if map-deep-get($map-name, use-borders) == true {

            border-color: map-deep-get($map-name, 'radios', 'border-checked-color');
          } @else {
            border: 0;
          }
        }
      }
    }
    // focus
    &:focus {
      + label {
        &::before {
          @if map-deep-get($map-name, use-borders) == true {
            border-color: map-deep-get($map-name, 'radios', 'border-focus-color');
          } @else {
            border: 0;
          }
          color: map-deep-get($map-name, 'radios', selected-color);
          background-color: map-deep-get($map-name, 'bg', 'bg-color-focus');
        }
      }
      // focus + checked
      &:checked {
        + label {
          &::before {
            @if map-deep-get($map-name, use-borders) == true {
              border-color: map-deep-get($map-name, 'radios', 'border-checked-color');
            } @else {
              border: 0;
            }
            color: map-deep-get($map-name, 'radios', selected-color);
            background-color: map-deep-get($map-name, 'bg', 'bg-color-focus');
          }
        }
      }
    }
    // hover
    &:hover {
      + label {
        &::before {
          color: map-deep-get($map-name, 'radios', 'selected-color');
          background-color: map-deep-get($map-name, 'bg', 'bg-color-hover');
          @if map-deep-get($map-name, use-borders) == true {
            border-color: map-deep-get($map-name, 'radios', 'border-hover-color');
          } @else {
            border: 0;
          }
        }
      }
      // hover + checked
      &:checked {
        + label {
          &::before {
            color: map-deep-get($map-name, 'radios', 'selected-color');
            background-color: map-get($map-name, background-color-hover-checked);
            @if map-deep-get($map-name, use-borders) == true {
              border-color: map-deep-get($map-name, 'radios', 'border-hover-checked-color');
            } @else {
              border: 0;
            }
          }
        }
      }
    }
  }

  [type='radio'] {
    + label {
      &::before {
        border-radius: map-deep-get($map-name, 'radios', 'radio-radius');
      }
    }

    &:checked {
      + label {
        &::before {
          content: '';
          background-image: svg-url-with-replaced-fill(map-deep-get($map-name, 'radios', 'radioicon'), '#000000', map-deep-get($map-name, 'radios', 'selected-color'));
          background-size: map-deep-get($map-name, 'radios', 'radioicon-size');
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
}
/// Style all inputs at once except select and textareas
/// @author Hash&Salt
/// @group Forms
@mixin inputs-all {
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='email'],
  [type='month'],
  [type='number'],
  [type='password'],
  [type='search'],
  [type='tel'],
  [type='text'],
  [type='time'],
  [type='url'],
  [type='week'],
  textarea {
    @content;
  }
}
/// A quick way to add all of the form mixins (baseform, inputs, addons, select, validation) in one go based on settings in the `$form-skin-default` SASS map
/// @param  {Variable} $map-name [$form-skin-default] [Config variable to use for forms]
/// @author Hash&Salt
/// @group Forms
@mixin form-complete($map-name: $form-skin) {
  @if map-deep-get($map-name, 'components', 'baseform') == true {
    @include form;
  }
  @if map-deep-get($map-name, 'components', 'inputs') == true {
    @include inputs(map-deep-get($map-name, 'skins', 'inputs'));
  }
  @if map-deep-get($map-name, 'components', 'select') == true {
    @include select(map-deep-get($map-name, 'skins', 'select'));
  }
  @if map-deep-get($map-name, 'components', 'addons') == true {
    @include addons(map-deep-get($map-name, 'skins', 'addons'));
  }
  @if map-deep-get($map-name, 'components', 'validation') == true {
    @include validation(map-deep-get($map-name, 'skins', 'validation'));
  }
}
