// ======================================================================
// Slate Framework <hello@slateengine.com>
// ======================================================================
//
// ======================================================================
// Valid Inputs
// ======================================================================
/// Built-in presentational styles for required elements. Set $form-validation-classes-toggle to false to use HTML5 validation instead.
/// @example scss - Validation
/// .form {
///     @include validation;
/// }
/// @author Hash&Salt
/// @param {Variable} $valid-classes [$form-validation-classes-toggle] - Toggle validation classes.
/// @group Validation
@mixin validation($map-name: $validation-default) {
  @if map-get($map-name, use-classes) == true {
    .#{$form-required-class} {
      color: map-get($map-name, label-color-required);
    }

    .#{$form-valid-class} {
      color: map-get($map-name, label-color-valid);
    }

    .#{$form-invalid-class} {
      color: map-get($map-name, label-color-invalid);
    }
    // Classes for required Inputs
    @include inputs-all {
      // Required
      &.#{$form-required-class} {
        border: map-get($map-name, border-required);
        color: map-get($map-name, color-required);

        &:focus {
          border: map-get($map-name, focus-border-required);
          color: map-get($map-name, color-required);
        }
      }

      &.#{$form-valid-class} {
        border: map-get($map-name, border-valid);
        color: map-get($map-name, color-valid);

        &:focus {
          border: map-get($map-name, focus-border-valid);
          color: map-get($map-name, color-valid);
        }
      }

      &.#{$form-invalid-class} {
        border: map-get($map-name, border-invalid);
        color: map-get($map-name, color-invalid);

        &:focus {
          border: map-get($map-name, focus-border-invalid);
          color: map-get($map-name, color-invalid);
        }
      }
    }
  } @else {
    // HTML 5 for Required Inputs
    @include inputs-all {
      &:focus {
        // Required
        &:required {
          border: map-get($map-name, border-required);
          color: map-get($map-name, color-required);

          &:valid {
            border: map-get($map-name, border-valid);
            color: map-get($map-name, color-valid);
          }

          &:invalid {
            border: map-get($map-name, border-invalid);
            color: map-get($map-name, color-invalid);
          }
        }
      }
    }
  }
}
